os10_xstp:
  type: rstp
  enable: true
  path_cost: false
  mac_flush_timer: 
  rstp:
    max_age: 
    hello_time: 
    forward_time: 
    force_version: stp
    bridge_priority: 
    mac_flush_threshold: 
