os10_xstp:
  type: rapid-pvst
  enable: true
  path_cost: false
  mac_flush_timer: 
  pvst:
    vlan:
      - range_or_id: 10
        max_age: 
        enable: 
        hello_time: 
        forward_time: 
        bridge_priority: 
        mac_flush_threshold: 
        root: 

