---
# tasks file for os10
 - name: "Generating NTP configuration for os10"
   template:
      src: os10_ntp.j2
      dest: "{{ build_dir }}/ntp10_{{ hostname }}.conf.part"
   when: (ansible_network_os is defined and ansible_network_os == "dellemc.os10.os10") and ((os10_cfg_generate | default('False')) | bool)
#   notify: save config os10
   register: generate_output

 - name: "Provisioning NTP configuration for os10"
   os10_config:
      src: os10_ntp.j2
   when: (ansible_network_os is defined and ansible_network_os == "dellemc.os10.os10")
#   notify: save config os10
   register: output
