os10_system:
  hostname: OS10
  hardware_forwarding: scaled-l2
  hash_algo:
    algo:
      - name: ecmp
        mode: random
        state: present
      - name: lag
        mode: xor
        state: present
  load_balance:
    ingress_port: true
    ip_selection:
      - field: destination-ip
        state: present
    ipv6_selection:
      - field: destination-ip
        state: present
    mac_selection:
      - field: destination-mac
        state: present
    tcp_udp_selection:
      - field: l4-destination-port
        state: present

