os10_interface:
  {{ os10_interface_1 }}:
    desc: "Static Ip"
    mtu: 2500
    portmode:
    admin: up
    switchport: False
    ip_and_mask: 10.9.0.4/31
    ipv6_and_mask: 2001:4898:5809:faa2::10/126
    ipv6_autoconfig: false
    ip_type_dynamic: false
    ipv6_type_dynamic: false
