os10_ntp:
  authentication_key:
    - key_num: 456
      key_string_type: 0
      key_string: ntptest
      state: absent
  trusted_key:
    - key_num: 4626
      state: absent
  server:
    - ip: 2.2.2.2
      key: 567
      prefer: false
      state: absent
