os10_aaa:
  radius_server:
    retransmit: 
    timeout: 
    host:
      - ip: 10.10.10.10
        key: 
        value: "abc"
        auth_port: 
        state: present
  tacacs_server:
    host: 
      - ip: 10.10.10.10
        key: 0
        value: "aaaa"
        auth_port: 3
    state: present
  aaa_authentication:
    login:
      - console: true
        type: group radius group tacacs+ local
        state: "absent"
    re_authenticate: false

